
.umsg {
    padding:5px 10px;
    margin: 8px 0;
    border:1px solid transparent
}

.error {
    background-color:#fee;
    border-color:#911;
    color:#911;
}

.warning {
    background-color:#ffe;
    border-color:#991;
    color:#991;
}

.success {
    background-color:#efe;
    border-color:#191;
    color:#191;
}

.clear {
    float:none;
    clear:both;
}

.inline {
    display:inline;
}

.left {
    float:left;
}

.right {
    float:right;
}

/* */
main {
    padding: 10px;
}

#main-container {
    padding-bottom:100px;
}

.navbar-right-label {
    float:right;
    color:#333;
    font-weight:700;
    padding-top:8px;
}

.mc {
    padding: 10px;
    margin:10px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
}

.mc h1 {
    font-size:20px;
    margin-top:0;
    
}

.area_sel_container {
    overflow-y:scroll;
    max-height: 250px;
}

.area_sel_container form {
    display:inline-block;
}

.area_sel_container label {
    display:inline-block;
    width:150px;
}

.area_sel_container_row {
    padding:4px;
}

.area_sel_container_row:nth-child(2n) {
    background-color:#ddd;
}

.confirmdelete {
    left:0;
    top:0;
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.2);
}

.hide,.no-show {
    display:none;
}

.eds {
    display:inline-block;
    color:#fff;
    width:25px;
    height:15px;
    text-align:center;
}

.eds-state-0 {
    background-color:#911;
}

.eds-state-1,.eds-state-2,.eds-state-3,.eds-state-4,.eds-state-5 {
    background-color:#eea236;
}

.eds-state-6,.eds-state-7,.eds-state-8,.eds-state-9 {
    background-color:#9b0;
}

.eds-state-10,.eds-state-11,.eds-state-12,.eds-state-13,.eds-state-14 {
    background-color:#191;
}

.eds-state-15,.eds-state-16,.eds-state-17,.eds-state-18,.eds-state-19 {
    background-color:#0b0;
}

.eds-state-20 {
    background-color:#888;
}

/* Ingredients */
.ic_ing {
    background-color:#009;
    color:#fff;
    display: inline-block;
    padding:3px 5px;
    margin:5px;
    cursor:default;
}

.ic_ing_remove {
    font-weight:700;
    display:inline-block;
    padding:5px;
    background-color:#b11;
    border-radius:50%;
    cursor:pointer;
}

/* Categories */
#category_select_wrapper {
    padding-bottom:10px;
}

.csw-row {
    padding:5px;
}

.csw-row:nth-child(2n) {
    background-color:#f5f5ff;
}

.csw-row select {
    display:inline-block;
    margin:3px 7px;
}

#cat_adder, #seal_adder, #seal_remover {
    padding:0 5px;
    margin-left:10px;
    font-size:20px;
    background-color:#aaf;
    border-radius:50%;
    font-weight:700;
    cursor:pointer;
    color:#fff;
}

#seal_remover {
    
}

#guetesiegel > div.gs {
    float:left;
    display:inline-block;
    margin:5px;
}

#guetesiegel > div.gs label {
    font-weight:400;
}

#guetesiegel > div.gs input[type="checkbox"] {
    margin:3px;
}

#seal_new {
    margin-left:10px;
}

.cfg_row {
    margin-bottom:7px;
}

.rec-direct {
    color:#f77;
    font-weight:700 !important;
}

.rec-parent {
    color:#f77;
}

/* Images */

#current_image_wrapper {
    padding:10px;
    border-bottom:1px solid #aaa;
}

#zoom_image_overview {
    max-width:400px;
}

#thumb-container {
    padding:10px;
    position:absolute;
    margin-bottom:-200px;
    width:40%;
}

#thumb-container div {
    width:100px;
    height:100px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #aaa;
    float:left;
    cursor:pointer;
}

#thumb-container div img {
    max-width:98px;
    max-height:98px;
}

/* Shrink wrap strategy 2 */
.easyzoom {
    position:relative;
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}


.c50 {
    float:left;
    width:50%;
}

.nutrition-container-meta {
    margin-bottom:15px;
}

#table-container-wrapper {
    height:120px;
}

#table-container {
    height:100%;
}

.ui-resizable-s {
    bottom: 0;
    height: 10px
}

.ui-resizable-handle.ui-resizable-s{
    height:0;
    border:4px solid #ddd;
}


#product-table tbody tr.active td {
    background-color: #eec !important;
}

#ingredient_deleter {
    margin-bottom:15px;
}

hr {
    clear:both;
}

.enthaltwrp {
    display:inline-block;
    width:180px;
}

.lit {
    float:left;
    box-sizing:border-box;
    padding-right:5px;
    margin-bottom:8px;
}

.c05 {
    width:50px;
}

.c075 {
    width:75px;
}

.c15 {
    width:150px;
}

.c2 {
    width:200px;
}

.c1 {
    width:100px;
}

.c25 {
    width:250px;
}

.c3 {
    width:300px;
}

.c4 {
    width:400px;
}