
.umsg {
    padding:5px 10px;
    margin: 8px 0;
    border:1px solid transparent
}

.error {
    background-color:#fee;
    border-color:#911;
    color:#911;
}

.warning {
    background-color:#ffe;
    border-color:#991;
    color:#991;
}

.success {
    background-color:#efe;
    border-color:#191;
    color:#191;
}

.clear {
    float:none;
    clear:both;
}

/* */
main {
    padding: 10px;
}

#main-container {
    padding-bottom:100px;
}

.navbar-right-label {
    float:right;
    color:#333;
    font-weight:700;
    padding-top:8px;
}

.mc {
    padding: 10px;
    margin:10px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
}

.mc h1 {
    font-size:20px;
    margin-top:0;
    
}

.area_sel_container {
    overflow-y:scroll;
    max-height: 250px;
}

.area_sel_container form {
    display:inline-block;
}

.area_sel_container label {
    display:inline-block;
    width:150px;
}

.area_sel_container_row {
    padding:4px;
}

.area_sel_container_row:nth-child(2n) {
    background-color:#ddd;
}

.confirmdelete {
    left:0;
    top:0;
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.2);
}

.hide,.no-show {
    display:none;
}

.eds {
    display:inline-block;
    width:10px;
    height:10px;
}

.eds-edited {
    background-color:#191;
}

.eds-new {
    background-color:#911;
}

/* Ingredients */
.ic_ing {
    background-color:#009;
    color:#fff;
    display: inline-block;
    padding:3px 5px;
    margin:5px;
    cursor:default;
}

.ic_ing_remove {
    font-weight:700;
    display:inline-block;
    padding:5px;
    background-color:#b11;
    border-radius:50%;
    cursor:pointer;
}

/* Categories */
#category_select_wrapper {
    padding-bottom:10px;
}

.csw-row {
    padding:5px;
}

.csw-row:nth-child(2n) {
    background-color:#f5f5ff;
}

.csw-row select {
    display:inline-block;
    margin:3px 7px;
}

#cat_adder, #seal_adder, #seal_remover {
    padding:0 5px;
    margin-left:10px;
    font-size:20px;
    background-color:#aaf;
    border-radius:50%;
    font-weight:700;
    cursor:pointer;
    color:#fff;
}

#seal_remover {
    
}

#guetesiegel > div.gs {
    float:left;
    display:inline-block;
    margin:5px;
}

#guetesiegel > div.gs label {
    font-weight:400;
}

#guetesiegel > div.gs input[type="checkbox"] {
    margin:3px;
}

#seal_new {
    margin-left:10px;
}

.cfg_row {
    margin-bottom:7px;
}

.rec-direct {
    color:#f77;
    font-weight:700 !important;
}

.rec-parent {
    color:#f77;
}

/* Images */

#current_image_wrapper {
    padding:10px;
    border-bottom:1px solid #aaa;
}

#zoom_image_overview {
    max-width:400px;
}

#thumb-container {
    padding:10px;
    position:absolute;
    margin-bottom:-200px;
    width:40%;
}

#thumb-container div {
    width:100px;
    height:100px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #aaa;
    float:left;
    cursor:pointer;
}

#thumb-container div img {
    max-width:98px;
    max-height:98px;
}

/* Shrink wrap strategy 2 */
.easyzoom {
    position:relative;
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}